root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space 
insert_final_newline = true 
time_trailing_whitespace = true 
end_of_line = lf

[*.cs]
csharp_using_directive_placement = inside_namespace:warning
dotnet_sort_system_directives_first = true
csharp_style_expression_bodied_methods = true:warning
csharp_style_expression_bodied_constructors = true:warning
csharp_style_expression_bodied_properties = true:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_accessors = true:warning

[*.xaml]
dotnet_diagnostic.MC3072.severity = none